{
  "plugins": [
    "transform-flow-strip-types"
  ],
  "presets": [
    [ "babel-preset-es2015", { "modules": false } ],
    [ "babel-preset-stage-2" ]
  ],
  "ignore": [
    "node_modules/**/*.js"
  ]
}

