.error-box {
  display: flex;
  align-items: center;
  background-color: #fbf5f5;
  border: 1px solid #e07c7c;
  color: #e07c7c;
  border-radius: 5px;
  max-height: 95px;
}

.error-icon {
  max-height: 60px;
  margin: 18px 14px 18px 20px;
}
