div.about-container {
  position: absolute;
  z-index: 100000;
  background-color: white;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.3;
}

div.about-container p,
div.about-container li,
div.about-container h2 {
  font-size: 1.6em;
}

div.about-container h1,
div.about-container h2 {
  color: rgb(0, 10, 80);
}

div.about-container p {
  color: #444;
}

div.about-container a {
  text-decoration: none;
}

div.about-container h2 {
  margin: 15px 0;
}

div.about-container > div {
  width: 450px;
}

div.about-container h1 {
  margin: 20px 0;
}

div.about-container img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

div.about-container p {
  margin: 30px 0;
  text-align: left;
}

div.about-container ul li {
  list-style-type: none;
}

div.about-container button {
  font-size: 1.5em;
  background-color: rgb(82, 210, 155);
  padding: 15px 40px;
  margin: 30px;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s, background-color 0.25s;
}

div.about-container button:hover {
  background-color: rgb(62, 190, 135);
  box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.1);
}

p.wiki-edit-cta {
  position: absolute;
  bottom: 0;
  left: 3vw;
  width: calc(100vw - 6vw);
  text-align: center !important;
  font-size: 1.3em !important;
  color: #999 !important;
}
