.vertical-divider {
  position: relative;
  width: 31px;
}

.vertical-bar {
  width: 3px;
  margin-left: 14px;
  height: 100%;
  background-color: black;
  z-index: 0;
}

.icon {
  position: absolute;
  top: 50%;
  z-index: 1;
}

