/* default to zero padding and margin for all */

* {
  margin: 0px;
  padding: 0px;
	border: 0px;
}

html {
  position: absolute;
  font-size: 11px;
  width: 100%;
  height: calc(100% - 5px);
  height: -webkit-calc(100% - 5px);
}

body {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: calc(100% - 25px);
  height: -webkit-calc(100% - 25px);
}

#chartdiv {
  width: 65%;
  height: 100%;
	float: left;
}

#chart {
  width: 100%;
  height: 100%;
}

#wikiconnect {
  position:relative;
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  top: -100%;
  padding: 20px;
  float: right;
  width: 80px;
  height: 80px;
}

#wikiconnect > img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}


.wikibutton {
  visibility: visible;
  cursor: pointer;
}

#wikiframe {
	width: 100%;
	height: 100%;
  /* seamless:seamless; */
}

.node {
  cursor: pointer;
}

.backdrop {
  fill: #aaa;
  stroke-width: 0px;
  stroke: none;
}

.loading-ring {
}

.backdrop.clicked {
  /* fill: #E5F5D2; */
  fill: #eee;
  stroke-width: 10px;
  stroke: #ddd;
}

.rim {
  fill: none;
  /* stroke-width: 2px; */
  /* stroke: #E5F5D2; */
  stroke: black;
  opacity: 0.5;
  /* stroke: red; */
}

.banner {
  stroke: #222;
  opacity: 0.8;
}

path.link {
  opacity: 0.3;
}
path.link.from {
  /* stroke: #D6FBF9; */
  /* stroke: #eec; */
  stroke: #888;
}

path.link.to {
  /* stroke: #cee; */
  stroke: #888;
}

.title {
  font-weight: bold;
  fill: #222;
  font-size: 60px;
}

.loading {
  font-weight: bold;
  fill: #222;
  font-size: 18px;
  cursor: pointer;
}

.name {
  fill: white;
}

.node > text {
  fill: black;
  text-shadow: 0px 0px 5px #fff;
}

path.link {
  /* opacity: 0.2; */
  /* stroke: #000; */
  fill: none;
  stroke-linecap: round;
}

.axis {
  shape-rendering: crispEdges;
  color: green;
  stroke: #444;
  /* stroke: blue; */
}

.axis text {
  stroke: none;
  fill: #888;
}

.timeline {
  fill: black;
  opacity: 0.03;
}

@media only screen and (min-width: 1200px) {
  #chartdiv {
    width: 70%;
  }
}

@media only screen and (min-width: 1500px) {
  #chartdiv {
    width: 75%;
  }
}
