.search-results {
  overflow-y: scroll;
  position: fixed;
  top: 140px;
  left: 0px;
  width: 70%;
  height: calc(100vh - 140px);
  box-sizing: border-box;
  background-color: white;
  z-index: 1000;
  padding: 20px;
}

.search-result {
  width: 100%;
  height: 170px;
  background-color: #F8F9FA;
  border: 1px solid #EAECF0;
  margin: 15px 0px;
  position: relative;
  display: flex;
}

.search-result-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
}

.no-search-data {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

.search-result img {
  flex: 1;
  margin: 20px;
  max-width: 100px;
}

.search-result .search-result-content {
  flex: 4;
  box-sizing: border-box;
  padding: 20px 20px;
  height: 130px;
}

.search-result-clarification {
  flex: 4;
  box-sizing: border-box;
  height: 30px;
  font-size: 1.4em;
}

.search-result-not-present {
  flex: 4;
  box-sizing: border-box;
  height: 30px;
  font-size: 1.4em;
  background-color: rgb(255, 225, 200);
  border-radius: 5px;
}

.one-line-message-box {
  box-sizing: border-box;
  font-size: 1.4em;
  border-radius: 5px;
}

.alert {
  background-color: #f9f4f4;
  color: #856262;
}

.search-result-clarification .search-term {
  color: #5084C8;
}

.search-result-summary .search-term {
  font-weight: bold;
}

.search-result a {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.search-result h3 {
  font-size: 1.7em;
  color: rgb(82, 131, 200);
}

.search-result p,
.search-influence {
  font-size: 1.3em;
  margin: 8px 0;
}

.search-influence span {
  margin-right: 30px;
}

/*
@media only screen and (max-width: 1000px) {
  .search-result {
    margin: 15px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .search-results {
    width: 70%;
  }

  .search-result {
    width: 700px;
  }
}

@media only screen and (min-width: 1500px) {
  .search-results {
    width: 75%;
  }
}
*/

